<h2><%= user.username %></h2>

<% if(user.image) { %>
    <p>
        <img class="profile_img" src="/media/<%= user.image %>" />
    </p>
<% } %>

<% if(quizes) { %>
    <h3>Favoritos <span>de <%= user.username %></span></h3>

    <table>
        <%
        var i;
        for (i = 0; i < quizes.length; i++) {
        %>
            <tr>
                <td>
                    <a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
                </td>
                <% if(session.user.id === user.id) { %>
                    <td>
                        <form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=delete">
                            <button class="checked" type="submit" onClick="return confirm('Eliminar: <%= quizes[i].pregunta %> de Favoritos');"></button>
                        </form>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>
<% } %>
